{% extends 'base.html.twig' %}

{% block main %}
<h1 class="text-center display-3 mb-2">Why New York is a great winter destination – just wrap up warmly</h1>
<h5 class="text-center display-6 fs-3 text-secondary">With the chill comes the thrill that only New York can give you</h5>
<hr class="my-1">
<p class="mb-4"><small>written by Sharron Livingston Nov 11, 2021</small></p>
<div>
<img class="img-fluid mb-3"src="https://www.thetravelmagazine.net/wp-content/uploads/new-york-central-park-in-winter-frozen-lake.jpg">
<p>When I visited New York one December, I admit that despite thermals and layers, I was freezing. The cold temperatures – sometimes reaching lows of -2°C – were further blighted by biting Arctic winds.</p>
<p>Yet streaming eyes and a face pinched by the frost did not deter me from enjoying an hour-long narrated horse and carriage ride around Central Park warmed by a cosy blanket. Or sauntering (with a guide) around the park’s huge expanse enjoying picturesque spells of sunny hues as they fell upon ground decorated with new snowfall. And stumbling upon Yoko Ono’s heart-warming memorial to the much-loved John Lennon.</p>
<p>Milling around the Rockefeller Centre was a joy. Hot chocolate in hand while perched on one of the many benches around the rink I watched as dare-devils attempted to glide around its ice rink. All the while the 18-foot-tall, eight-ton, gilded cast bronze sculpture, created by Paul Manship in 1934, looked on.

The view is even better from Top of the Rock and from this vantage all the city becomes available to view.</p>
<p>Incidentally, there is another ice skating rink in Central Park owned by President Trump. It is surrounded by rock formations and trees and so offers a more subdued yet invigorating experience.

The lack of queues and crowds is blissful. I had practically the entire Hornblower ship to myself as it toured (with narration) the Hudson passing the Empire State Building and the magnificent skyline – especially beautiful as the afternoon light dimmed.

</p>
</div>
{% endblock %}


