<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {# BOOTSTRAP  #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <style type="text/css">
                #agency_header{
                    background: url({{asset('pictures/pack_your_bags.jpg')}}) 300px center;
                    background-size: cover;
                    font-size: 7rem;
                    font-family: "times new roman";
                    padding: 50px 0% 0%;
                    text-shadow: 0px -5px 5px black;
                    height: 80vh;
                }

                #content{
                    height: 100%;
                }

                .list_elements li{
                    margin: 0;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    {# ATTENTOIN: If you activate the BODY TWIG tag, it will be ENTIRELY overwritten by the new content in a chlid page  #}
    {# {% block body %} #} 
        <header class="m-0 h-100"> 
            {% block header %}
                <h1 id="agency_header" class="fw-lighter text-light text-start fst-italic pt-4 ps-5"><span class="text-warning display-2">IRH</span><br> Journeys</h1>
            {% endblock %}
        </header>

        {# bootstrap navbar #}
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-warning m-0 p-0">
            {% block nav %}
                <div class="container-fluid">
                    <a class="navbar-brand border-end border-dark ps-4 pe-5" href="/home"><img class="img-thumbnail rounded"
                            src="{{asset('pictures/athens.jpg')}}" alt="logo" width="60" height="48s"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="/home"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </nav>

        <main id="content" class="p-5">
            {% block main %}

            here comes the main content

            {% endblock %}
        </main>

        <footer class="bg-dark pt-5 pb-2 text-light">
            {% block footer %}
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <ul class="navbar-nav list_elements">
                            <li class="nav-item py-0 ">
                                <a class="nav-link text-warning text-decoration-none py-0 my-0 active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item py-0">
                                <a class="nav-link text-warning text-decoration-none py-0 my-0" href="/news">News</a>
                            </li>
                            <li class="nav-item py-0">
                                <a class="nav-link text-warning text-decoration-none py-0 my-0" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item py-0">
                                <a class="nav-link text-warning text-decoration-none py-0 my-0" href="/about">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h6>ADDRESS:</h6>
                        <small>Kettenbrueckegasse 23/2/12<br>1050 Vienna<br>Austria</small>
                    </div>
                </div>
                
            </div>
            <p class="text-center text-muted mt-4"><small>2021 &copy; IRH Travels<br>
            Powered by Isabella, Radek & Henry</small></p>

            {% endblock %}
        </footer>

        {% block bootstrap %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
    {# {% endblock %} #}
    </body>
</html>
